* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151617;
}

@media (min-width: 781px) and (max-width: 2000px) {
    .tela-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header {
        display: flex;
        width: 95vw;
        height: 100px;
        border-bottom: 3px solid #fff;
        justify-content: space-around;
    }

    .container-logo {
        width: 100px;
        height: 100%;
    }

    .container-nav {
        width: 800px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        gap: 25px;
    }

    .container-search {
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-search {
        background-color: #fff;
        width: 289px;
        height: 35px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: 30px;
    }

    .search {
        outline: none;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: none;
        background-color: #fff;
        font-size: 15px;
    }

    .container-user {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .section-title {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        height: 50px;
        font-family: "Poppins", sans-serif;
        color: #ee6c4d;
        font-size: 25px;
        margin-top: 20px;

        @media (max-width:804px) {
            font-size: 23px;
        }
    }

    .container-btn {
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        font-weight: 700;
        font-size: 14px;
        height: 50px;
        width: 200px;
        background-color: transparent;
        color: #ee6c4d;
        border-radius: 50px;
        border: 2px solid #ee6c4d;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #ee6c4d;
        color: #141b26;
    }

    .main-content {
        margin-top: 30px;
        width: 90%;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .main-content::-webkit-scrollbar {
        background-color: #000000;
        border: 1px solid #ee6c4d;
    }

    .main-content::-webkit-scrollbar-thumb {
        background-color: #EE6C4D;
    }

    .container-games {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;
    }

    .card-games {
        font-size: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer {
        margin-top: 10px;
        color: #FFF;
    }
}

@media (min-width: 320px) and (max-width: 780px) {
    .tela-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header {
        width: 100vw;
        height: 100px;
        display: flex;
        border-bottom: 3px solid #fff;
        justify-content: space-around;
    }

    .container-search {
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-search {
        background-color: #fff;
        width: 250px;
        height: 35px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .search {
        outline: none;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: none;
        background-color: #fff;
        font-size: 15px;
    }

    .container-user {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .section-title {
        width: 90vw;
        height: 50px;
        font-family: "Poppins", sans-serif;
        color: #ee6c4d;
        font-size: 15px;
        margin-top: 20px;
    }

    .main-content {
        margin-top: 30px;
        width: 90%;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
    }

    .main-content::-webkit-scrollbar {
        background-color: #000000;
        border: 1px solid #ee6c4d;
    }

    .main-content::-webkit-scrollbar-thumb {
        background-color: #EE6C4D;
    }

    .container-games {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;
        @media (max-width:519px) {
            gap: 20px;
        }
    }

    .card-games {
        font-size: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer {
        margin-top: 10px;
        color: #FFF;
    }

    .container-nav {
        margin-top: 38px;
        width: 100%;
        height: 85px;
        border-top: 3px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        width: 100vw;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        justify-content: space-around;
    }

    .container-btn {
        margin-top: 20px;
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .btn {
        font-weight: 700;
        font-size: 14px;
        height: 50px;
        width: 200px;
        background-color: transparent;
        color: #ee6c4d;
        border-radius: 50px;
        border: 2px solid #ee6c4d;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #ee6c4d;
        color: #141b26;
    }
}