* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #151617;
}

.container-main {
  background-color: red;
  width: 400px;
  height: 300px;
}

.container-login {
  display: flex;
  flex-direction: column;
}

.container-login input {
  width: 100%;
  height: 50px;
  border-radius: 6px 6px 6px 6px;
  border-top: 2px solid #ee6c4d;
  border-right: 2px solid #ee6c4d;
  border-left: 2px solid #ee6c4d;
  background: transparent;
}
