@media (min-width: 781px) and (max-width: 2000px) {
    .tela_desktop {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        overflow-x: hidden;
    }

    .main_content {
        display: flex;
        margin-top: 20px;
        width: 100vw;
        height: 700px;
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .title h1 {
        font-size: 200px;
        font-family: "Poppins", sans-serif;
        color: #ee6c4d;
        font-weight: bold;
    }

    .title p {
        width: 561px;
        height: 131px;
        flex-shrink: 0;
        color: #EE6C4D;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 80px;
        font-weight: bold;
        font-size: 40px;
    }

    .footer {
        margin-top: 10px;
        color: #fff;
    }
}

@media (min-width: 320px) and (max-width: 780px) {
    .tela_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main_content {
        margin-top: 20px;
        width: 90vw;
        height: 380px;
        background-color: red;
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .title h1 {
        font-size: 150px;
        font-family: "Poppins", sans-serif;
        color: #ee6c4d;
        font-weight: bold;
    }

    .title p {
       
        flex-shrink: 0;
        color: #EE6C4D;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
}