@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

@media (min-width: 781px) and (max-width: 2000px) {
  .tela_desktop {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow-x: hidden;
  }

  .section_title {
    width: 90vw;
    height: 50px;
    font-family: "Poppins", sans-serif;
    color: #ee6c4d;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }

  .container_slider {
    width: 800px;
    height: 450px;
  }

  .slide_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    object-fit: cover;
    margin-left: 100px;
  }

  .swiper_button_next,
  .swiper_button_prev {
    background-color: #ee6c4d !important;
    /* Use !important se necessário para substituir estilos existentes */
  }

  /* Exemplo: Alterar a cor do Pagination para #ee6c4d */
  .swiper-pagination-bullet {
    background-color: #ee6c4d !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #ee6c4d !important;
  }

  .footer {
    margin-top: 10px;
    color: #fff;
  }
}

@media (min-width: 320px) and (max-width: 780px) {
  .tela_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scroll {
    height: 330px;
    overflow-x: hidden;
    width: 90vw;
  }

  .scroll::-webkit-scrollbar {
    background-color: #000000;
    border: 1px solid #ee6c4d;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #ee6c4d;
  }

  .section_title {
    width: 90vw;
    height: 50px;
    font-family: "Poppins", sans-serif;
    color: #ee6c4d;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .container_slider {
    width: 500px;
    height: 330px;
  }

  .slide_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    object-fit: cover;
    margin-left: 50px;
  }

  .swiper_button_next,
  .swiper_button_prev {
    background-color: #ee6c4d !important;
    /* Use !important se necessário para substituir estilos existentes */
  }

  /* Exemplo: Alterar a cor do Pagination para #ee6c4d */
  .swiper-pagination-bullet {
    background-color: #ee6c4d !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #ee6c4d !important;
  }
}
